<!-- Footer -->
  <div id="footer">
    <div class="container">

      <!-- Footer List -->
        <div id="contact">
          <ul>
            <li>
              <a href="https://github.com/jpanged/" target="_blank">
                <div class="p-icon">
                  <span class="fab fa-github"></span>
                </div>
              </a>
            </li>
            <li>
              <a href="mailto:jpang06@calpoly.edu" target="_blank">
                <div class="p-icon">
                  <span class="fa fa-envelope"></span>
                </div>
              </a>
            </li>
            <li>
              <a href="https://www.linkedin.com/in/josiahpang" target="_blank">
                <div class="p-icon">
                  <span class="fab fa-linkedin-in"></span>
                </div>
              </a>
            </li>
            <li>
              <div class="p-icon">
                <span class="fa fa-user"></span>
              </div>
            </li>
          </ul>
        </div>


        <!-- Copyright -->
          <div id="copyright">
            &copy; {{ site.title }}. All rights Reserved
          </div>

      </div>
    </div>

</div>


  <!-- Scripts -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/jquery.dropotron.min.js"></script>
    <script src="assets/js/skel.min.js"></script>
    <script src="assets/js/util.js"></script>
    <!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
    <script src="assets/js/main.js"></script>
